body{
    background: url("../img/background-img-hmw2.png")
    no-repeat center center fixed;
    background-size: cover;
    margin: 0;
}
.header-background{
    background-color: black;
    opacity: 0.5;
    height: 68px;
    width: 100%;
    position: absolute;
    z-index: -1;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.left-head-text{
    padding-left: 20px;
    font-family: Verdana, monospace;
}
.header-link{
    text-decoration: none;
    color: white;
    transition: 0.4s;
}
.header-link:hover{
    color: #3CB878;
}
.head-icons{
    display: flex;
    margin-left: auto;
    padding-right: 20px;
}
.welcome-text{
    color: white;
    padding-right: 60px;
    font-family: Verdana, monospace;
}
.welcome-text a{
    text-decoration: none;
    transition: 0.4s;
}
.welcome-text a:hover{
    border-bottom: 1px solid #3cb878;
}
.head-right-text{
    border-left: 1px solid white;
    padding-left: 30px;
}
.welcome-link{
    color: #3cb878;
}
.calendar{
    background: url("../img/header-icons.png") 0 0;
    width: 20px;
    height: 20px;
    transition: 0.4s;
}
.calendar:hover{
    background: url("../img/hover-icons.png") 0 0;
    width: 20px;
    height: 20px;
}
.forum{
    background: url("../img/header-icons.png") -45px 0;
    width: 32px;
    height: 20px;
    transition: 0.4s;
}
.forum:hover{
    background: url("../img/hover-icons.png") -45px 0;
    width: 32px;
    height: 20px;
}
.compass{
    background: url("../img/header-icons.png") -103px 0;
    width: 5px;
    height: 20px;
    transition: 0.4s;
}
.compass:hover{
    background: url("../img/hover-icons.png") -103px 0;
    width: 5px;
    height: 20px;
}
.gap{
    padding-right: 25px;
}
.container{
    display: flex;
    justify-content: center;
}
.login-forum{
    padding-top: 10px;
    margin: 5% 0;
    width: 29%;
    background-color: white;
    border-radius: 2%;
}
.top-part{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Verdana, monospace;
}
.top-part a{
    text-decoration: none;
    color: #3CB878;
    transition: 0.4s;
}
.top-part a:hover{
    border-bottom: 1px solid #3CB878;
}
.sign-up{
    font-size: 3vh;
    color: #434343;
    margin-right: 36%;
    width: 21%;
}
.green-square{
    display: block;
    padding: 10px;
    background: #3CB878;
}

.log-in{
    font-size: 2vh;
    color: #3CB878;
    margin-right: 2%;
    width: 21%;
}
.login-btn {
    box-sizing: border-box;
    position: relative;
    width: 35%;
    padding: 0 15px 0 46px;
    border: none;
    line-height: 37px;
    border-radius: 0.2em;
    font-size: 16px;
    color: #FFF;
    height: 46px;
}
.login-btn:before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    width: 47px;
    height: 100%;
    text-align: left;
}
.login-btn:active {
    box-shadow: inset 0 0 0 32px rgba(0,0,0,0.1);
}
.fb {
    background-color: #305db8;
    background-image: linear-gradient(#305db8, #3B55A0);
    text-shadow: 0 -1px 0 #354C8C;
    margin-left: 11%;
}
.fb:before {
    border-right: #364e92 1px solid;
    padding-top: 5px;
    content: "f";
    padding-left: 19px;
    font-size: 30px;
}
.fb:hover{
    background-color: #5B7BD5;
    background-image: linear-gradient(#5B7BD5, #4864B1);
}
.g-plus {
    background: #DD4B39;
    margin-left: 7%;
}
.g-plus:before {
    border-right: #BB3F30 1px solid;
    content: "G+";
    font-size: 22px;
    padding-left: 10px;
    padding-top: 5px;
}
.g-plus:hover{
    background: #E74B37;
}
.or-section{
    display: flex;
}
.first-line{
    width: 32%;
    margin-left: 11%;
    height: 40px;
    border-bottom: 1px solid #eaeaea;
}
.or-text{
    color: #848484;
    margin-left: 5%;
    margin-top: 29px;
    font-size: 18px;
}
.second-line{
    width: 32%;
    height: 40px;
    border-bottom: 1px solid #eaeaea;
    margin-left: 5%;
}

.input-box{
    font-family: "Roboto", sans-serif;
    width: 77%;
    margin-left: 11%;
    margin-top: 10px;
    border: 1px solid #eaeaea;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
    border-radius: 4px;
}
.input-box:focus{
    box-shadow: 0 2px 12px 0 rgba(0,0,0,0.16),0 0 0 1px rgba(0,0,0,0.08);
    border-style: outset;
    margin-bottom: 10px;
}
.last-box{
    padding-bottom: 20px;
}
.box-con input{
    display: none;
}
.box-con{
    display: inline-block;
    padding-left: 16%;
    position: relative;
    cursor: pointer;
    user-select: none;
    color: #505050;
}
.box-con a{
    text-decoration: none;
    color: #505050;
}
.check-mark{
    display: inline-block;
    width: 15px;
    height: 15px;
    border: 1px solid #ebebeb;
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 18%;
    border-radius: 3px;
}
.box-con input:checked + .check-mark:after{
    content: "";
    width: 9px;
    height: 4px;
    position: absolute;
    border-left: 3px solid #3CB878;
    border-bottom: 3px solid #3CB878;
    top: 42%;
    left: 48%;
    transform: translate(-50%,-50%) rotate(-45deg);
}
.terms{
    color: #3CB878;
}
.terms:hover{
    border-bottom: 1px solid #3CB878;
}
.create{
    background-color: #3cb878;
    display: block;
    border: none;
    color: white;
    width: 77%;
    height: 46px;
    border-radius: 3px;
    margin-left: 11%;
    margin-top: 6%;
    font-size: 18px;
}
.create:hover{
    background-color: #4ade90;
    background-image: linear-gradient(#3cb878, #4ade90);
}
.create:active{
    box-shadow: inset 0 0 0 32px rgba(0,0,0,0.1);
}
.create-btn-container{
    padding-bottom: 35px;
}
